# ======================================
# Python
# ======================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================================
# Virtual Environment
# ======================================

.venv/
venv/
env/

# ======================================
# Environment Variables
# ======================================
.env
.env.docker

!.env.example
!.env.docker.example
# ======================================
# IDE
# ======================================

.vscode/
.idea/

# ======================================
# Logs
# ======================================

*.log

# ======================================
# Testing
# ======================================

.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ======================================
# Type Checking
# ======================================

.mypy_cache/
.pyre/
.ruff_cache/

# ======================================
# SQLite
# ======================================

*.sqlite3

# ======================================
# Alembic
# ======================================

alembic/__pycache__/

# ======================================
# Uploads
# ======================================

uploads/*
!uploads/.gitkeep

# ======================================
# OS Files
# ======================================

.DS_Store
Thumbs.db